@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&family=Work+Sans:wght@500;600;700;800&display=swap");

.body-sign-up {
  width: 100vw;
  height: 100vh;
  background-color: #e5e5e5;
}

.header-sign-up {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 5vw;
  padding: 1vw;
  gap: 1vw;
}

.img-header-sign-up {
  width: 3vw;
}

.header-title-sign-up {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 1.1vw;
}

.div-main {
  display: flex;
  height: 60vh;
  width: 100vw;
  justify-content: center;
}

.main-sign-up {
  width: 45vw;
  display: flex;
  flex-direction: column;
  gap: 4vw;
  align-items: flex-start;
  justify-content: center;
}

.title-main-sign-up {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 2vw;
}

.buttons {
  display: flex;
  width: 100%;
  gap: 3vw;
  align-items: center;
  justify-content: center;
}

.button-main-sign-up {
  margin-top: 0.3vw;
  font-family: "Kanit", sans-serif;
  font-size: 1vw;
  padding: 0.6em;
  width: 50%;
  max-width: 240px;
  background: #f7f7f7;
  border: 0.15em solid #d6d6d6;
  border-radius: 1vw;
  
}
.button-main-sign-up:hover {
  background: linear-gradient(180deg, #7e6affad 0%, #5b4bc5a6 100%);
  
  border: 0.15em solid #3b3b3b;
  cursor: pointer;
}
.button-main-sign-up:active{
  
  padding: 0.4vw;
}



.form-sign-up {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 0.15vw solid #d6d6d6;
  padding-top: 1vw;
  align-items: center;
}

.input-form-sign-up {
  margin: 0.5em;
  padding: 0.5em;
  padding: 0.6em;
  width: 100%;
  background: #f7f7f7;
  border: 0.1vw solid #d6d6d6;
  border-radius: 0.5em;
  font-family: "Kanit", sans-serif;
  font-size: 1vw;
}

.pass {
  margin-bottom: 0;
  width: 90%;
  margin-right: 5vw;
}

.footer-input {
  margin-top: 0;
  width: 100%;
  font-family: "Kanit", sans-serif;
  font-size: 1vw;
}

.forgot-pass {
  text-decoration: none;
  color: #242424;
  opacity: 0.5;
}

.button-sign-up-page {
  background-color: #7f6bff;
  margin-top: 1vw;
  font-family: "Kanit", sans-serif;
  font-size: 1vw;
  padding: 0.7vw;
  width: 20vw;
  color: #f7f7f7;
  border-radius: 0.5em;
}
.button-sign-up-page:hover {
  background-color: #6b59e6;
  cursor: pointer;
}
.button-sign-up-page:disabled{
  background-color: #d6d6d6;
  cursor: auto;
}
.button-sign-up-page:disabled:hover{
  background-color: #d6d6d6;
  cursor: auto;
}


.hidden-pass {
  position: absolute;
  background-color: #e5e5e5;
  margin: 5vw;
  margin-left: 46vw;
  width: 2vw;
  font-size: 1.5vw;
}

.hidden-pass:hover {
  cursor: pointer;
}
