.body{
  height: 100vh;
  width: 100vw;
  background-color: #e5e5e5;
}

.user-bar{
  display: flex;
  position: absolute;
  top: 1vw;
  left: 1vw;
  height: 97%;
  width: 15%;
  background-color: #a3a3a3c4;
  border-radius: 1vw;
  flex-direction: column;
}

.header-user-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-start;
  gap: 5%;
}

.img-user-bar{
  margin: 1vw;
  max-width: 3.5vw;
  height: 3.5vw;
  border-radius: 100%;
}

.title-user-bar{
  display: flex;
  flex-direction: column;
}

.username{
  color: cornsilk;
  font-size: larger;
}

.user-subtitle{
  color: cornsilk;
  font-size: xx-small;
}